body{
    margin: 0;
    height: 100vh; /*100vh:bodyの高さ=画面全体の高さ*/

    /*画面を中央揃えに*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 32px;
}

#target{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}